.hr--blank
  width: 100%
  height: 3px
  margin: 2rem 0

.clr-accent--txt
  color: $color-curso-b

.circle    
  padding: 1rem 1.35rem
  border-radius: 999px
  background-color: $color-curso-b
  color: white
  font-weight: 700

// Tarjetas //

.crd_complete
  padding: 2rem 5rem
  //margin: 0 -3rem
  background-color: #E2F2FF

.crd_B
  height: 100%
  padding: 2rem  

  &--celeste
    background-color: #E2F2FF
  &--rosa
    background-color: #FFECF1

.crd_C
  padding: 0.5rem
  background-color: #E8E8E8


.square__list
  span
    display: inline-block
    width: 25px
    height: 25px
    line-height: 25px       
    color: white
    text-align: center
    background-color: $color-curso-b

